.login-page .tab {
    width: 1.14rem;
    line-height: .21rem;
    margin: 0 auto;
    padding: .5rem 0 .77rem 0;
    font-size: .18rem;
    color: #242424;
    display: flex;
    justify-content: space-between;
}

.login-page .tab-item { 
    display: inline-block;
    font-weight: bold;
}

.login-page .tab-item-left {
    color: #73d13d;
}

.login-page .tab-item-right {
    color: #000;
}

.login-page .form { 
    margin-bottom: .6rem;
}

.login-page .form .form-item {
    display: flex;
    padding:  .16rem .3rem;
    line-height: .24rem;
    font-size: .16rem;
}

.login-page .form .form-item-title {
   width: .48rem;
   margin-right: .42rem;
}

.login-page .form .form-item-content {
   flex: 1;
   border: none;
   outline: none;
   color: #242424;
 }

 .login-page .form .form-item-content::placeholder {
    color: #d9d9d9;
 }

 .login-page .submit {
    margin: 0 .3rem .94rem .3rem;
    line-height: .5rem;
    border-radius: 25px;
    background-color: #73d13d;
    box-shadow: 0 6px 6px 0 #d9f7be;
    font-size: .16rem;
    color: #fff;
    text-align: center;
 }

 .login-page .notice {
    color: #cf1322;
    font-size: .16rem;
    line-height: .24rem;
    text-align: center;
 }